body{
    display: flex;
    flex-direction: column;
}

.outerBox{
    border: 4px solid black;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.innerBox{
    border: 4px solid rgb(246, 226, 8);
    width: 10rem;
    height: 4rem;
}

p{
    text-align: left;
    padding: 0;
    margin: 0;
}


 